<title> Password Generator</title>
<h1> Password Generator </h1>
<br/>
<form action="{% url 'password' %}">
    Password Length: &nbsp;
    <select name="length" id="length">
        <option value="6">6 char</option>
        <option value="8">8 char</option>
        <option value="10">10 char</option>
        <option value="12" selected="selected">12 char</option>
        <option value="13">13 char</option>
    </select>
    <br/>
    <input type="checkbox" name="UpperCase"> UpperCase <br/>
    <br/>
    <input type="checkbox" name="Numbers"> Numbers <br/>
    <br/>
    <input type="checkbox" name="Special"> Special Characters <br/>
    <br/>
    <input type="submit" name="Generate Password">

</form>
<br>
<a href="{% url 'about' %}">About</a>